.font-open-scans-600 {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.font-noto-300 {
    font-weight: 300;
    font-family: 'Noto Sans TC', sans-serif;
}
.font-noto-400 {
    font-weight: 400;
    font-family: 'Noto Sans TC', sans-serif;
}
.font-noto-500 {
    font-weight: 500;
    font-family: 'Noto Sans TC', sans-serif;
}
.font-noto-700 {
    font-weight: 700;
    font-family: 'Noto Sans TC', sans-serif;
}
